<!DOCTYPE html>
<html>
<body
  vocab="http://schema.org/"
  prefix="cco: http://purl.org/ontology/cco/core# foaf: http://xmlns.com/foaf/0.1/"
  >
<div about="{{id}}" typeof="{{j type}}">
  <h1 property="name">{{name}}</h1>
  <img property="image" src="{{image}}" />
  <p property="description">{{description}}</p>
  <p rel="homeLocation">
    home:
    <a typeof="{{j homeLocation.type}}" href="{{homeLocation.id}}">
      <span property="name">{{homeLocation.name}}</span>
    </a>
  </p>
  <p rel="currentLocation">
    current location:
    <a typeof="{{j currentLocation.type}}" href="{{currentLocation.id}}">
      <span property="name">{{currentLocation.name}}</span>
    </a>
  </p>
  <h2>contact points</h2>
  <ul>
    {{#each contactPoint}}
    <li>
      <a rel="me" rel="contactPoint" typeof="{{j type}}" href="{{id}}"><span property="name">{{name}}</span></a>
    </li>
    {{/each}}
  </ul>
  <h2>habits</h2>
  <ul rel="cco:habit">
    {{#each cco:habit}}
    <li typeof="{{j type}}">
      <a rel="cco:topic" href="{{cco:topic.id}}" target="dbpedia">
        <span property="name">{{cco:topic.name}}</span>
      </a>
    </li>
    {{/each}}
  </ul>
  <h2>affiliations</h2>
  <ul rel="member">
    {{#each member}}
    <li>
      <a typeof="{{j type}}" href="{{id}}"><span property="name">{{name}}</span></a>
    </li>
    {{/each}}
  </ul>
  <h2>events</h2>
  <ul rev="attendee">
    {{#each attendeeIn}}
    <li>
      <a typeof="{{j type}}" href="{{id}}"><span property="name">{{name}}</span></a>
    </li>
    {{/each}}
  </ul>
  <h2>places</h2>
  <ul rel="visited">
    {{#each visited}}
    <li>
      <a typeof="{{j type}}" href="{{id}}"><span property="name">{{name}}</span></a>
    </li>
    {{/each}}
  </ul>
</div>
<footer>
  page powered by open source
  <a typeof="SoftwareApplication" href="https://github.com/elf-pavlik/webprofiled">
    <span property="name">webprofiled</span>
  </a>
</footer>
</body>
</html>
