<html>
<body vocab="http://schema.org/">
<div about="{{id}}" typeof="{{type}}">
  <h1 property="name">{{name}}</h1>
  <img property="image" src="{{image}}" />
  <p property="description">{{description}}</p>
  <div rel="homeLocation">
    <p about="{{homeLocation.id}}" typeof="{{homeLocation.type}}">
       home: <a property="name" href="{{homeLocation.id}}">{{homeLocation.name}}</a>
    </p>
  </div>
  <div rel="currentLocation">
    <p about="{{currentLocation.id}}" typeof="{{currentLocation.type}}">
      current location: <a property="name" href="{{currentLocation.id}}">{{currentLocation.name}}</a>
    </p>
  </div>
  <h2>legacy profiles</h2>
  <ul rel="contactPoint">
    {{#each contactPoint}}
    <li about="{{id}}" typeof="{{type}}">
      <a href="{{id}}"><span property="name">{{name}}</span></a>
    </li>
    {{/each}}
  </ul>
  <h2>affiliations</h2>
  <ul rel="member">
    {{#each member}}
    <li about="{{id}}" typeof="{{type}}">
      <a href="{{id}}"><span property="name">{{name}}</span></a>
    </li>
    {{/each}}
  </ul>
</div>
<footer>
  <p>page powered by open source <a href="https://github.com/elf-pavlik/webprofiled">webprofiled</a></p>
</footer>
</body>
</html>
