<html>
<body
  vocab="http://schema.org/"
  prefix="cco: http://purl.org/ontology/cco/core# foaf: http://xmlns.com/foaf/0.1/"
  >
<div about="{{id}}" typeof="{{j type}}">
  <h1 property="name">{{name}}</h1>
  <img property="image" src="{{image}}" />
  <p property="description">{{description}}</p>
  <div rel="homeLocation">
    <p about="{{homeLocation.id}}" typeof="{{j homeLocation.type}}">
      home: <span property="name"><a href="{{homeLocation.id}}">{{homeLocation.name}}</a></span>
    </p>
  </div>
  <div rel="currentLocation">
    <p about="{{currentLocation.id}}" typeof="{{j currentLocation.type}}">
      current location: <span property="name"><a href="{{currentLocation.id}}">{{currentLocation.name}}</a></span>
    </p>
  </div>
  <h2>contact points</h2>
  <ul rel="contactPoint">
    {{#each contactPoint}}
    <li about="{{id}}" typeof="{{j type}}">
      <a rel="me" href="{{id}}"><span property="name">{{name}}</span></a>
    </li>
    {{/each}}
  </ul>
  <h2>habits</h2>
  <ul rel="cco:habit">
    {{#each cco:habit}}
    <li typeof="{{j type}}">
      <div rel="cco:topic" resource="{{cco:topic.id}}"><a href="{{cco:topic.id}}" target="dbpedia"><span property="name">{{cco:topic.name}}</span></a></div>
    </li>
    {{/each}}
  </ul>
  <h2>affiliations</h2>
  <ul rel="member">
    {{#each member}}
    <li about="{{id}}" typeof="{{j type}}">
      <a href="{{id}}"><span property="name">{{name}}</span></a>
    </li>
    {{/each}}
  </ul>
  <h2>events</h2>
  <ul rev="attendee">
    {{#each attendeeIn}}
    <li about="{{id}}" typeof="{{j type}}">
      <a href="{{id}}"><span property="name">{{name}}</span></a>
    </li>
    {{/each}}
  </ul>
  <h2>places</h2>
  <ul rel="visited">
    {{#each visited}}
    <li about="{{id}}" typeof="{{j type}}">
      <a href="{{id}}"><span property="name">{{name}}</span></a>
    </li>
    {{/each}}
  </ul>
</div>
<footer>
  <p>page powered by open source <a href="https://github.com/elf-pavlik/webprofiled">webprofiled</a></p>
</footer>
</body>
</html>
